<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Olympia Administration</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand|Varela+Round">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    
    <script type="text/javascript">
    	/*global $*/
        
        function handleLoginAttempt() {
            var username = $('#username').val();
            var password = $('#password').val();
            
            if (username.length > 0 && password.length > 0) {
		        Promise.resolve()
		        .then(function(){
					//the 'return' is required. Otherwise, the subsequent then will not wait for this to complete
		            return $.post('admin-login', 'username=' + username + '&password=' + password);
		        })
		        .then(function(auth){
		            if (auth.isValid){
		                $('#error').html(auth.message);
		                loadPage();
		                return;
		            } else {
		                $('#error').html(auth.message);
		                $('#username').html('bad');
		                $('#password').html('bad');
		            }
		        })
		        .catch(function(err){
		            console.log(err);
		        });
		    } else {
		        $('#error').html('Please provide both username and password');
		    }
        }

		function loadPage() {
            $("#adminsList").load("adminsList.html");
            createAdminsTable();
            $("#keysList").load("keysList.html");
            createKeysTable();
            $("#usersList").load("usersList.html");
            createUsersTable();
		}
		
		function createAdminsTable() {
            Promise.resolve()
            .then(function(){
                return $.post('admin-get-admins');
            })
            .then(function(admins){
                $('#admins').html('');
                admins.forEach(function(entity){
                    $('#admins').append(
                        '<tbody>' +
                        '<tr>' +
                        '<td class="checkbox-col">' +
                        '<input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"' +
                        '</td>' +
                        '<td data-userId="' + entity._id + '">' + entity.username + '</td>' +
                        '</tr>' +
                        '</tbody>'
                    );
                });
            })
            .then(function(){
	            $('#admins').DataTable({
					columnDefs: [ {
			            orderable: false,
			            className: 'select-checkbox',
			            targets:   0
		            } ],
		            select: {
			            style:    'os',
			            selector: 'td:first-child'
		            },
		            order: [[ 1, 'asc' ]]
	            });
            })
            .catch(function(err){
                console.log(err);
            });
		}
		
		function createKeysTable() {
            Promise.resolve()
            .then(function(){
                return $.post('admin-get-keys');
            })
            .then(function(keys){
                $('#keys').html('');
                keys.forEach(function(entity){
                    $('#keys').append(
                        '<tbody>' +
                        '<tr>' +
                        '<td class="checkbox-col">' +
                        '<input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"' +
                        '</td>' +
                        '<td data-userId="' + entity.uuid + '">' + entity.expiresDate + '</td>' +
                        '</tr>' +
                        '</tbody>'
                    );
                });
            })
            .then(function(){
	            $('#keys').DataTable({
					columnDefs: [ {
						orderable: false,
			            className: 'select-checkbox',
			            targets:   0
		            } ],
		            select: {
			            style:    'os',
			            selector: 'td:first-child'
		            },
		            order: [[ 1, 'asc' ]]
	            });
            })
            .catch(function(err){
                console.log(err);
            });
		}
		
    	function createUsersTable() {
            //start a promise chain
            Promise.resolve()
            .then(function(){
                return $.post('admin-get-users');
            })
            .then(function(users){
                $('#users').html('');
                users.forEach(function(entity){
                    $('#users').append(
                        '<tbody>' +
                        '<tr>' +
                        '<td class="checkbox-col">' +
                        '<input type="checkbox" style="text-align:center;" ng-model="x.dedbuffer"' +
                        '</td>' +
                        '<td data-userId="' + entity._id + '">' + entity.username + '</td>' +
                        '</tr>' +
                        '</tbody>'
                    );
                });
            })
            .then(function(){
	            $('#users').DataTable({
					columnDefs: [ {
						orderable: false,
			            className: 'select-checkbox',
			            targets:   0
		            } ],
		            select: {
			            style:    'os',
			            selector: 'td:first-child'
		            },
		            order: [[ 1, 'asc' ]]
	            });
            })
            .catch(function(err){
                console.log(err);
            });
        }

        function addAdmin() {
			$("#admins-content").load("addAdmin.html");
        }
        function onAddAdmin() {
			var firstname = $('#new_admin_firstname').val();
            var lastname = $('#new_admin_lastname').val();
			var username = $('#new_admin_username').val();
            var password = $('#new_admin_password').val();

            Promise.resolve()
            .then(function(){
                return $.post('admin-add-admin', 'firstname=' + firstname + '&lastname=' + lastname + '&username=' + username + '&password=' + password);
            })
            .then(function(admins){
		        $("#adminsList").load("adminsList.html");
		        createAdminsTable();
            })
            .catch(function(err){
                console.log(err);
            });
        }
        function onAddAdminCancel() {
	        $("#adminsList").load("adminsList.html");
	        createAdminsTable();
        }
	</script>
</head>
  
<body>
    <section id="header-section">
		<div class="container">
			<div class="header">
				<h1 id="main-title">Olympia</h1>
			</div>
		</div>
    </section>

    <section id="body-section">
		<div class="container" id="adminsList">
			<center>
				<div style="padding-top: 100pt;">
					<label>Sign in</label>
					<div class="form-group">
						<input type="text" class="form-control" id="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" placeholder="Password">
					</div>
					<div class="form-group">
						<button class="btn btn-primary" onclick='handleLoginAttempt()'>Login</button>
					</div>
					<p id="error"></p>
				</div>
			</center>
		</div>

		<div class="container" id="keysList"></div>

		<div class="container" id="usersList"></div>
    </section>
    
  </body>
</html>
