* {
	font-family: Quicksand;
	font-weight: bold;
}

#header-section {
  background-color: #004225;
}

#olympia-icon {
  float:left;
  margin-right: 20px;
}

#main-title {
  color: white;
}

#body-section {
    background-color: #f2f2f2;
    height: 100vh;
}

#table-name {
	padding: 15px;
	padding-left: 32px;
	background-color: #ffd384;
	color: #333333;
}

.checkbox-col {
	width: 10px;
}

.form-control {
    max-width: 200px;
}

.input-form {
    max-width: 65%;
}

.control_btn {
	padding: 10px;
	float: right;
}

.select_box {
	margin: 10px;
	width: auto;
}