
#header-section {
  background-color: #004225;
}

#olympia-icon {
  float:left;
  margin-right: 20px;
}

#main-title {
  color: white;
  font-family: 'Quicksand', sans-serif;
}


#header-section {
  background-color: #004225;
}

#olympia-icon {
  float:left;
  margin-right: 20px;
}

#main-title {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#body-section {
    background-color: #e4e4d3;
    height: 100vh;
}
.main {
    margin-left: 100pt;
    padding-top: 100pt;
}

#table-name {
	padding: 15px;
	padding-left: 32px;
	font-family: 'Quicksand', sans-serif;
	background-color: #5a5a54;
	color: white;
}

.checkbox-col {
	width: 10px;
}

.form-control {
    max-width: 200px;
}

.input-form {
    max-width: 65%;
}
